<nav class="navbar  bg-success">
    <div class="container">
        <ul class="navbar-nav navbar-expand-sm">
            <li>
                <button class="btn btn-outline-info m-2" (click)="getAllAircrafts()">Aircrafts</button>
                <button class="btn btn-outline-info m-2" (click)="getAircraftsByDesign()">Design</button>
                <button class="btn btn-outline-info m-2" (click)="getAircraftsByDevelopment()">Development</button>
                <button class="btn btn-outline-info m-2">Add aircraft</button>
            </li>
        </ul>
        <form class="d-flex input-group w-auto">
          <input
            type="search"
            class="form-control"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button class="btn btn-outline-info">Search</button>
        </form>
    </div>
</nav>